body{
	background-color:#399;
}

body.claro{
	background-color:#3F0;
}

body.oscuro{
	background-color:#009;
}

button{
	background-color:#F99;
	color:#000;
	border: none;
	width: 100%;
	padding: 30px;
	font-size:36px;
	margin-top:10px;
}

#mizona{
	width:100%;
	background-color:#F99;
	margin-top:18px;
	min-height:300px;
	display:block;
	/**-webkit-animation: rotate 3s infinite;*/
}

#info{
	color:#600;
	font-size:2em;
	margin-top:10px;
	text-transform: uppercase;
}

#mizona.doubletap{
	-webkit-animation: presion1.5s 1;
}

#mizona.press{
	-webkit-animation: presion1.5s 1;/**la animacion dura 1.5 segundos y lo hace una vez*/
}


@-webkit-keyframes pulsacion{
	0%, 100%{
		background-color: #7fba67;
	}
	50%{
		background-color: #8delbd;
	}
}

@-webkit-keyframes presion{
	0%, 100%{/**en el 0 al 100 debe ser verde*/
		background-color: #7fba67;
	}
	50%{/**En l 50% debe ser de este color*/
		background-color: #577a76;
	}
}


@-webkit-keyframes swipe-derecha{
	0%, 100%{/**en el 0 al 100 debe ser verde*/
		margin-left: 0%;
	}
	50%{/**En l 50% debe ser de este color*/
		margin-left: 110%;
	}
}

@-webkit-keyframes swipe-izquierda{
	0%, 100%{/**en el 0 al 100 debe ser verde*/
		width: 100%;
	}
	50%{/**En l 50% debe ser de este color*/
		width:  0%;
	}
}

@-webkit-keyframes rotate{
	100%{
		-webkit-transform: rotate(360deg);
	}
}